@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
}

nav a{
    font-weight: 600;
    font-size: 16px;
}

nav a img{
    margin-left: 0.0em;
}

#passwordHelp{
    font-size: 0.95em !important;
    text-justify: center;
}
table thead td{
    font-weight: bold !important;
}

.edit-table{
    color:rgb(3, 97, 185);
    text-decoration: none ;
}

.delete-table{
    color:red; 
    text-decoration: none;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}


#hide {
    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.dropdown-menu{
    z-index:1051 !important;
}

.wrapper{
    width:auto;
    padding:20px;
    height: 100px;
}

datalist {
    max-height: 250px;
    overflow-y: auto;
}

/* 
table.dataTable tbody tr.selected {
    color: white !important;
    background-color: #303030 !important;
}

table.dataTable tbody tr.selected a{
    color: white !important;
    background-color: #303030 !important;
}
 */

.flex-header { grid-area: header; }
.flex-body { grid-area: body; }
.flex-widget1 { grid-area: widget1; }
.flex-widget2 { grid-area: widget2; }
.flex-footer { grid-area: footer; }


.flex-layout1{
    display: grid !important;
    grid-template-areas:
        'header header header header header header'
        'body body body body widget1 widget1'
        'body body body body widget1 widget1'
        'body body body body widget2 widget2'
        'body body body body widget2 widget2'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

.flex-layout1 > div {
    background-color: rgba(56, 56, 56, 0.1);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
  
.flex-layout2{
    display: grid !important;
    grid-template-areas:
        'header header header header header header'
        'body body body body widget1 widget1'
        'body body body body widget1 widget1'
        'body body body body widget2 widget2'
        'body body body body widget2 widget2';
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

.flex-layout2 > div {
    background-color: rgba(56, 56, 56, 0.1);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.flex-layout3{
    display: grid !important;
    grid-template-areas:
        'header header header header header header'
        'body body body body widget1 widget1'
        'body body body body widget1 widget1';
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

.flex-layout3 > div {
    background-color: rgba(56, 56, 56, 0.1);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.flex-layout4{
    display: grid !important;
    grid-template-areas:
        'body body body body body body'
;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

.flex-layout4 > div {
    background-color: rgba(56, 56, 56, 0.1);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    min-height: 250px;
}
  

.offline {
    height: 15px;
    width: 15px;
    background-color: rgb(160, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

.online {
    height: 15px;
    width: 15px;
    background-color: rgb(0, 138, 7);
    border-radius: 50%;
    display: inline-block;
}