nav a{
    font-weight: 600;
    font-size: 16px;
}

nav a img{
    margin-left: 0.0em;
}

#passwordHelp{
    font-size: 0.95em !important;
    text-justify: center;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}


#hide {
    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.dropdown-menu{
    z-index:1051 !important;
}

.wrapper{
    width:auto;
    padding:20px;
    height: 100px;
    }

    datalist {
        max-height: 250px;
        overflow-y: auto;
    }
